language: node_js
cache:
  directories:
    - node_modules
branches:
  only:
    - master
    - develop
notifications:
  email: false
node_js:
  - '6'
before_script:
  - npm prune
script:
  - npm run test
